<div class="filter__container" #filters>
    <div class="search__container">
        <app-search 
        [autocompleteItems]="tags" 
        (customSelect)="filterCandidates($event)">
        </app-search>
    </div>

    <div class="select__container">
        <app-select 
        label="Pipeline" 
        [options]="pipelineOptions"
        (customSelect)="filterPipelines($event)">
        </app-select>
    </div>
</div>

<div class="pipeline__container">
    <div 
    class="board__grid"
    cdkDropListGroup 
    [ngStyle]="{ 'grid-template-columns': !isMobile ? 'repeat(' + pipelines.length + ', 370px)' : 'repeat(' + pipelines.length + ', 280px)' }">
        <app-pipeline 
        cdkDropList 
        *ngFor="let pipeline of pipelines" 
        [cdkDropListData]="pipeline.candidates" 
        [title]="pipeline.title"
        [height]="filtersHeight > 0 ? 'calc(100vh - ' + filtersHeight + 'px - 64px)' : 'calc(100vh - 56px)'"
        (cdkDropListDropped)="dropCandidate($event)">
            <app-candidate *ngFor="let candidate of pipeline.candidates" cdkDrag [candidate]="candidate"></app-candidate>
        </app-pipeline>
    </div>
</div>