@import "../../../../../theme/variables.css";

.candidate {
    background-color: var(--color-clear);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    transition: all 300ms ease;
}

.candidate:hover {
    background-color: var(--color-clear-shade);
}

.candidate__picture {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

.candidate__picture .picture__container {
    align-items: center;
    background-color:  var(--color-border);
    border-radius: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    overflow: hidden;
    width: 64px;
}

.candidate__picture  .picture--placeholder {
    height: 32px;
    opacity: 0.2;
    width: 32px;
}

.candidate__profile span {
    color: var(--color-text);
    display: block;
}

.candidate__profile span,
.candidate__profile .profile__social {
    margin-bottom: 8px;
}

.candidate__profile .profile__name {
    color: var(--color-primary);
    font-size: var(--font-size-medium);
    font-weight: 600;
}

.candidate__profile .profile__job {
    font-size: var(--font-size-small);
}

.candidate__profile .profile__social button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    justify-content: center;
    margin-left: 8px;
    padding-left: 0;
    padding-right: 0;
    transition: all 300ms ease;
}

.candidate__profile .profile__social button:first-child {
    margin-left: 0;
}

.candidate__profile .profile__social button:hover img {
    opacity: 0.4;
}

.candidate__profile .profile__social button:disabled {
    cursor: default;
}

.candidate__profile .profile__social button img {
    height: 20px;
    width: 20px;
}

.candidate__profile .profile__social button:disabled img {
    filter: grayscale(100%);
    opacity: 0.4;
}

.profile__tags .tag {
    background-color: var(--color-tag);
    border-radius: 4px;
    color: var(--color-tag-shade);
    display: inline-block;
    font-size: var(--font-size-extra-small);
    font-weight: 600;
    margin-bottom: 4px;
    margin-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-transform: uppercase;
}